<!-- PaymentController as ctrl -->

<md-tabs md-dynamic-height
         md-border-bottom
         md-stretch-tabs="auto"
         md-selected="ctrl.step"
         md-align-tabs="top"
         class="md-accent">
    <md-tab>
        <md-tab-label>
            Purchase details
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div layout="column">
                    <div class="md-title" ng-bind="ctrl.buyTicket.name"></div>
                    <div class="" ng-bind="ctrl.buyTicket.price"></div>
                    <div class="md-margin" layout="" layout-align="center center" style="height: 65px">
                        <md-button ng-disabled="false"
                                   ng-click="ctrl.next()"
                                   class="md-raised">Next</md-button>
                    </div>
                </div>
            </md-content>
        </md-tab-body>
    </md-tab>

    <md-tab ng-disabled="false" ng-if="!ctrl.isLoggedIn">
        <md-tab-label>
            Who are you?
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <h1 class="md-display-1">Sign up</h1>
                <p class="md-accent">Create a login, so you can retrieve your tickets whenever you need then.</p>

                <div layout layout-sm="column" layout-align="space-around">
                    <md-input-container flex>
                        <label>Email</label>
                        <input ng-model="ctrl.buyTicket.email">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Password</label>
                        <input ng-model="ctrl.buyTicket.password">
                    </md-input-container>
                </div>

                <div class="md-margin layout-align-center-center layout-row" style="height: 65px">
                    <md-button ng-click="ctrl.signUp(ctrl.buyTicket.email, ctrl.buyTicket.password);"
                               class="md-raised">Next</md-button>
                </div>
            </md-content>
        </md-tab-body>
    </md-tab>

    <md-tab ng-disabled="false">
        <md-tab-label>
            How would you like to pay?
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <!--<div layout layout-sm="column">-->
                <!--<md-input-container flex>-->
                <!--<label>Reg number</label>-->
                <!--<input ng-model="ctrl.buyTicket.regno">-->
                <!--</md-input-container>-->
                <!--<md-input-container flex>-->
                <!--<label>Expiration year</label>-->
                <!--<input ng-model="ctrl.buyTicket.expy">-->
                <!--</md-input-container>-->
                <!--<md-input-container flex>-->
                <!--<label>Expiration month</label>-->
                <!--<input ng-model="ctrl.buyTicket.expm">-->
                <!--</md-input-container>-->
                <!--<md-input-container flex>-->
                <!--<label>Card number</label>-->
                <!--<input ng-model="ctrl.buyTicket.cardno">-->
                <!--</md-input-container>-->
                <!--</div>-->

                <p>Options: </p>
                <div layout="row" ng-show="!ctrl.qpLink">
                    <!--<md-button class="md-raised md-margin">Mobile pay</md-button>-->
                    <md-button ng-click="ctrl.requestLink();"
                               class="md-raised md-margin">Credit card</md-button>
                    <!--<md-button class="md-raised md-margin">bitcoin</md-button>-->
                </div>
                <div ng-show="ctrl.qpLink">
                    <md-button class="md-primary md-raised md-padding"
                               ng-click="ctrl.qpCheckout()">
                        Proceed to checkout (will open a new window)
                    </md-button>
                </div>

            </md-content>
        </md-tab-body>
    </md-tab>

    <md-tab ng-disabled="false">
        <md-tab-label>
            Receipt
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <h2>Thanks!</h2>
                <p>Order no
                    <span ng-bind="ctrl.buyTicket.orderno"></span>
                </p>

                <p><md-button ng-click="ctrl.print()"
                              class="md-raised md-accent">print</md-button>

                <p>
                    <md-button class="md-primary" ng-show="true"
                               ng-click="ctrl.buyTicket = null">
                        return to tickets
                    </md-button>
                </p>
            </md-content>
        </md-tab-body>
    </md-tab>
</md-tabs>

<div ng-show="ctrl.buyTicket.wait">
    <p class="md-title">Processing... Please wait.</p>
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>
