<!-- PaymentController as ctrl -->

<md-tabs md-dynamic-height
         md-border-bottom
         md-stretch-tabs="auto"
         md-selected="ctrl.step"
         md-align-tabs="top"
         class="md-accent">
    <md-tab>
        <md-tab-label>
            Order overview
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div layout="column">
                    <h3 class="md-title">Order overview</h3>
                    
                    <div>
                        <div class="md-headline" ng-bind="ctrl.buyTicket.title"></div>
                    </div>
                    <div>
                        Total: <span ng-bind="ctrl.buyTicket.price"></span> 
                    </div>
                    
                    <div class="md-margin">
                        <md-button ng-disabled="false"
                                   ng-click="ctrl.next()"
                                   class="md-raised">Next</md-button>
                    </div>
                </div>
            </md-content>
        </md-tab-body>
    </md-tab>

    <md-tab ng-disabled="false" ng-if="!ctrl.showSignUp">
        <md-tab-label>
            Who are you?
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <h1 class="md-display-1">Sign up</h1>
                <p class="md-accent">Create a login, so you can retrieve your tickets whenever you need then.</p>

                <div layout layout-sm="column" layout-align="space-around">
                    <md-input-container flex>
                        <label>Email</label>
                        <input ng-model="ctrl.buyTicket.email" type="email">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Password</label>
                        <input ng-model="ctrl.buyTicket.password" type="password">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Password (again)</label>
                        <input ng-model="ctrl.buyTicket.password2" type="password">
                    </md-input-container>
                </div>

                <div class="md-margin layout-align-center-center layout-row" style="height: 65px">
                    <md-button ng-disabled="ctrl.buyTicket.password != ctrl.buyTicket.password2"
                                ng-click="ctrl.signUp(ctrl.buyTicket.email, ctrl.buyTicket.password);"
                               class="md-raised">Next</md-button>
                </div>
            </md-content>
        </md-tab-body>
    </md-tab>

    <md-tab ng-disabled="false">
        <md-tab-label>
            How would you like to pay?
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <!--<div layout layout-sm="column">-->
                <!--<md-input-container flex>-->
                <!--<label>Reg number</label>-->
                <!--<input ng-model="ctrl.buyTicket.regno">-->
                <!--</md-input-container>-->
                <!--<md-input-container flex>-->
                <!--<label>Expiration year</label>-->
                <!--<input ng-model="ctrl.buyTicket.expy">-->
                <!--</md-input-container>-->
                <!--<md-input-container flex>-->
                <!--<label>Expiration month</label>-->
                <!--<input ng-model="ctrl.buyTicket.expm">-->
                <!--</md-input-container>-->
                <!--<md-input-container flex>-->
                <!--<label>Card number</label>-->
                <!--<input ng-model="ctrl.buyTicket.cardno">-->
                <!--</md-input-container>-->
                <!--</div>-->

                <p class="md-headline">
                    Options
                    <md-button ng-click="ctrl.method = false"  ng-show="ctrl.method"
                               class="md-raised md-margin">choose other method</md-button>
                </p>
                <div layout>
                    <!--<md-button class="md-raised md-margin">Mobile pay</md-button>-->
                    <div ng-show="!ctrl.method">
                        <md-button ng-click="ctrl.requestLink(); ctrl.method = 'creditcard'"
                                   class="md-raised md-margin">Credit card</md-button>

                        <md-button ng-click="ctrl.method = 'code'"
                                   class="md-raised md-margin">voucher code</md-button>
                    </div>
                    
                    <div ng-show="ctrl.method == 'code'">
                        <input ng-model="ctrl.payCode" class="md-padding md-title">
                        <md-button class="md-primary md-raised" ng-click="ctrl.requestPayByCode(ctrl.payCode, ctrl.buyTicket.ticketType)">Send</md-button>
                    </div>
                    
                    <div ng-show="ctrl.method == 'creditcard'">
                        <div ng-show="ctrl.qpLink">
                            <md-button class="md-primary md-raised md-padding"
                                       ng-click="ctrl.qpCheckout()">
                                Proceed to checkout (will open a new window)
                            </md-button>
                        </div>
                    </div>
                </div>

            </md-content>
        </md-tab-body>
    </md-tab>

    <md-tab ng-disabled="false">
        <md-tab-label>
            Receipt
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <h2>Thanks!</h2>
                <p>Order no
                    <span ng-bind="ctrl.buyTicket.orderno"></span>
                </p>

                <p><md-button ng-click="ctrl.print()"
                              class="md-raised md-accent">print</md-button>
            </md-content>
        </md-tab-body>
    </md-tab>
</md-tabs>

<div ng-show="ctrl.buyTicket.wait">
    <p class="md-title">Processing... Please wait.</p>
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>
