<!-- MenuController as ctrl -->

<div layout="row" class="menu" layout-align="space-between">

    <div>
        <md-button ng-href="#/tickets">Tickets</md-button>
        <!--<md-button ng-href="#/schedule">Schedule</md-button>-->
    </div>

    <div ng-if="!ctrl.isLoggedIn">
        <md-button ng-href="#/login" ng-if="!ctrl.isLoggedIn"
                   class="md-accent">Log in</md-button>
    </div>
    <div ng-if="ctrl.isLoggedIn">
        <md-button ng-href="#/metrics" ng-if="ctrl.isAdmin" class="md-accent">admin stuff</md-button>
        <md-button ng-href="#/me">my tickets</md-button>
        <md-button ng-href="#/login" ng-click="ctrl.logout()">Log out</md-button>
    </div>
</div>

